<link rel="stylesheet" href="greetApp.css">
<div>
<div class="row-1">
  <center>
  <div class="col-12">
    <h1 class="prev">Previously greeted names:</h1>
  </div>
  <div class="col-12">
    <img src="https://cdn3.iconfinder.com/data/icons/glypho-free/64/home-128.png" width="30px" height="30px" alt="Home">
      <a class="home" href="/">Return to greeting page</a>
  </div>
</center>

</div>
<div class="row-2">
<center>
  <div class="col-12">
   <ul>
    {{#each name}}
    <li>{{this.name}}</li>
    {{/each}}
  </ul>
</div>
</center>
</div>
<div class="space">




</div>
<center>
<footer class="footer">
	<h3>Shameera Rakiep</h3>
	<a href="https://github.com/misssrakiep"><img src="http://vijithasridhar.github.io/img/github-black.png" height="30px" width="30px" alt="Shameera Rakiep GitHub"></a>
</footer>
</center>
