<link href="https://fonts.googleapis.com/css?family=Comfortaa|Dancing+Script|Lobster|Pacifico" rel="stylesheet">
<link rel="stylesheet" href="greetApp.css">
<center class="body">
	<div class="row-1">
		<div class="col-12">
				<div class= "heading">
				<img src="https://www.archhealing.com/images/flower_icon_orange.png" height="50px" width="50px" alt="">
				<img src="https://www.archhealing.com/images/flower_icon_orange.png" height="50px" width="50px" alt="">
				<img src="https://www.archhealing.com/images/flower_icon_orange.png" height="50px" width="50px" alt="">
				<h1 class="welcome">Welcome!</h1>
				<img src="https://www.archhealing.com/images/flower_icon_orange.png" height="50px" width="50px" alt="">
				<img src="https://www.archhealing.com/images/flower_icon_orange.png" height="50px" width="50px" alt="">
				<img src="https://www.archhealing.com/images/flower_icon_orange.png" height="50px" width="50px" alt=""></div>
{{#if name}}
<h2>{{language}}, {{name}}!</h2>
{{else}}
<h2>Why don't you try customising the greeting?</h2>
{{/if}}
	</div>
</div>
</center>

<br>
<br>
<div class="row-2">
	<center>
	<div class="col-12">
			<form class="greetForm" action="/greetedNames" method="post">
				<input type="text" class="nameField" name="userName" placeholder="Type your name in here" required>
				<br><div class="lang">
				<input class="lang" type="radio" name="language" value="Hello" required>English
				<input class="lang" type="radio" name="language" value="Haai daar" required>Afrikaans
				<input class="lang" type="radio" name="language" value="Molo" required>isiXhosa
				<br>
				<input type="submit" class="submitBtn" name="submit" value="Greet Me" method="post"/>
			</div><br>
			</form>

	</div>
</center>
</div>

<center>
<div class="col-12">
	<div class="link"><a href="/greetedNames">View previously greeted names</a></div><br>
	<div class="link"><a href="/counter">How many names have been greeted?</a></div>
</div>
</center>

<center>
<footer class="footer">
	<h3>Shameera Rakiep</h3>
	<a href="https://github.com/misssrakiep"><img src="http://vijithasridhar.github.io/img/github-black.png" height="30px" width="30px" alt="Shameera Rakiep GitHub"></a>
</footer>
</center>
